[Unit]
Description=Monthly Runtipi Companion backup

[Timer]
OnCalendar=*-*-01 03:00:00
Persistent=true
Unit=runtipi-companion-backup@monthly.service

[Install]
WantedBy=timers.target
